/bin
/include
/lib
/lib64
/__pycache__
/share
/test_data
/video_annotations
pyvenv.cfg
/jsons
/overlay_video/__pycache__
/sound_segment/audio
/sound_segment/dictionaries
/sound_segment/training_data
/sound_segment/output
/sound_localize/cameras/__pycache__
/sound_localize/SoundLoc/__pycache__
/sound_localize/SoundLoc/build
/sound_segment/__pycache__
*.pickle
*.mp4
*.npz
*.png
*.json
